html, body {
  color: #38cc8c;
  margin:0 auto;
  padding: 0;
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  width: 60%;
}

body {
  font-weight: 400;
  background: grey;
}
.container {
  background: black;
  padding: 10px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  border: none;
  background: #38cc8c;
  padding: 10px 20px;
  text-transform: uppercase;
}

h1 {
  font-size: 20px;
  text-align:center;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid black;
  width: 90%;
  /* margin: 10px auto; */
  outline: none;
  height: 200px;
  background: #38cc8c;
  padding: 10px;
}
